body {
    background: linear-gradient(to bottom, 
    #FF772B, 
    #FF842B, 
    #FF9D2B, 
    #FFBD00, 
    #F5C423,
    #FFBD00,
    #FF9D2B,
    #FF842B,
    #FF772B
    );
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.sermej img {
  max-width: 600px; /* ou o tamanho que preferir */
  margin-bottom: 200px;
  margin-top: 20%;
}


.envelope {
  width: 500px;
  height: 300px;
  position: relative;
  background: #f1ecd2;
  border-radius: 10px;
  cursor: pointer;
  perspective: 1000px;
  transition: transform 0.5s;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.3);;
  text-shadow: #FF772B;
  margin-top: -200px;
}

.flap {
  width: 100%;
  height: 50%;
  background: #e7e0bc;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px 10px 0 0;
  transform-origin: top;
  transition: transform 0.6s ease;
  z-index: 2;
  display: flex;               /* ativa flexbox */
  justify-content: center;     /* centraliza na horizontal */
  align-items: center;         /* centraliza na vertical */
  text-align: center;
  font-weight: 600;
}

.paper {
  background: #fffbe6;
  width: 90%;
  max-height: 400px;
  position: absolute;
  top: 10%;
  left: 5%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
  cursor: auto;
  overflow-y: auto;
}

.envelope.open{
  z-index: 2;
}

.envelope.open .flap {
  transform: rotateX(-120deg);
  color: #e7e0bc;
}

.envelope.open .paper {
  opacity: 1;
  z-index: 1;
  transform: translateY(0);
}

.mensagem {
  font-size: 0.8rem;
  font-weight: 530;
  color: #000;
  line-height: 1.5;
}

.container {
  display: flex;
  flex-direction: column; /* coloca os filhos em coluna */
  align-items: center;     /* centraliza no eixo horizontal */
  gap: 20px;               /* espaço entre a imagem e a carta */
  margin-top: -10vh;
}


.magnet {
  position: relative;
  display: inline-block; /* ou flex/block, conforme seu layout */
  cursor: pointer;
}


#particles-js {
  position: fixed;
  z-index: 0; 
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}


.msg{
  position: relative;
  margin-top: 100px;
  font-size: 3rem;
  font-weight: 700;
  z-index: 1;
  color: #fff;
  border-right: 4px solid #ffd549;
  width: 25ch;
  animation: piscando 0.7s infinite,
  typing 5s infinite steps(25);
  overflow: hidden;
  white-space: nowrap;
  text-shadow:
    2px 2px 4px rgba(0, 0, 0, 0.7), /* sombra escura e desfocada */
    0 0 10px #ffd549;  
}




@keyframes piscando{
  50% {
    border-right-color: transparent;
  }

}

@keyframes typing{
  0% {
    width: 0;
  }

  40% {
    width: 25ch;
  }

  60% {
    width: 25ch;
  }

  100% {
    width: 0;
  }
}

@media screen and (max-width: 1030px) {
  .msg{
  font-size: 2rem;
  font-weight: 700;
}
}
@media screen and (max-width: 800px){

  .msg{
  font-size: 1.5rem;
  }

  .sermej {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .sermej img {
    max-width: 80%;
    display: block;
  }

  .envelope {
  width: 80%;
  height: 200px;
  }

  .flap {
  font-size: small;
}
}

@media screen and (max-width: 680px){

.msg{
  font-size: 1.2rem;
}

.envelope .flap {
  font-size: 0.65rem;
  }

.mensagem {
  font-size: 0.65rem;
}

}

@media screen and (max-width: 580px){
.msg{
  font-size: 0.9rem;
}

.envelope .flap {
  font-size: 0.6rem;
  }

.mensagem {
  font-size: 0.55rem;
}
}